*{
    background:rgb(247, 246, 182);
}
body {
    background-color: rgb(255, 94, 94);
    font: 16px/1.4 Tahoma,Helvetica,Kalimati,Sans-serif;
}


#box {
  
  font-weight: bold;
  min-width: 500px;
  padding: 20px auto;
  text-align: center;
}


#flashlight {
    color: rgb(19, 19, 19);
    font-size: 3em;
    
    perspective: 80px;
    outline: none;
}



#box:hover #flash {
  margin-left: 20px;
  transition: margin-left 1s cubic-bezier(0, 0.75, 0, 1);
}

.mari{
    width: 100px;
    height: 100px;
}

#light {
  display: inline-block;
  text-shadow: #111 0 0 1px, rgba(255,255,255,0.1) 0 1px 3px;
}

#box:hover #light {
  text-shadow: #fff 0 0 4px, #fcffbb 0 0 20px;
  transform: rotateY(-60deg);
  transition: transform 0.3s cubic-bezier(0, 0.75, 0, 1), text-shadow 0.1s ease-out;
}

ul {
    margin:1.4em 0 2em;
}

ul li {
    margin-bottom:.8em;
}

form.demoForm fieldset {
    margin-top: 30px;
    border: 1px solid #ddd;
    margin: 0 auto;
    
color: rgb(0, 0, 0);

border: 9px groove (internal value);
border-radius: 7px;
width: 750px;
height: 300px

}

form.demoForm p {
    line-height: 1.1;
    padding:0 6px;
}
form.demoForm legend {
    margin-left:6px;
    color: rgb(0, 0, 0);

    
 
}



form.demoForm label {
    margin-right: .8em;
}
form.demoForm input {
    vertical-align: bottom;
    padding:0;
    margin:0; /* needed for checkboxes */
}
form.demoForm input.num {
    text-align: right;
    width: 50px;
}

/* for ie8+ (wraps tightly) */
form.demoForm input[type=submit] {
    padding:1px 4px;
}